
<div class="ui middle aligned center aligned grid">
  <div class="column login-page"><img src="./public/assets/Soltech-logo-black.png" class="image"/>
    <form (ngSubmit)="onSubmit()" class="ui large form">
      <div class="ui segment">
        <h4 class="ui dividing header aligned left">Log-In</h4>
        <div class="field">
          <div class="ui left icon input"><i class="user icon"></i>
            <input type="text" name="email" placeholder="Username" [(ngModel)]="user.username"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input"><i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"/>
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">Login</button>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>