body {
  background-color: #CCC; }

.page-box {
  height: 100%; }

.login-page {
  height: 100%; }

.login-container {
  max-width: 600px;
  margin-top: -130px; }
  .login-container .error.message {
    margin-top: 10px;
    text-align: left !important; }
