body {
  background-color: #CCC;
}

.page-box {
  height: 100%;
}


.login-page {
  height: 100%;
}

.login-container {
  max-width: 600px;
  margin-top: -130px;

  .error.message{
    margin-top: 10px;
    text-align: left!important;
  }
}


.main-dash {
  height: 100%;
}


.page-scroll {
  max-height: 100%;
  overflow-y: auto;
}
