sm-sidebar.left.vertical.inverted.sidebar.labeled.icon.menu(#invertedsidebar='')
  a.item
    | Home
  a.item
    | Topics
  a.item
    | Friends

.pusher
  sm-button.positive((click)="invertedSidebar.show({transition: 'overlay'})") Lunch left sidebar
